In [1]:
import pandas as pd

In [2]:
# Read the file from Source on local machine
orders = pd.read_csv('C:/Users/lebad/Desktop/Personal enhancement/Job Enhancement/My projects/PYTHON/Mezzeh.tsv',sep= '\t')

In [3]:
# Check the table to be a dataframe
type(orders)

pandas.core.frame.DataFrame

In [4]:
orders.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
orders.shape
# data has 4622 rows and 5 columns

(4622, 5)

In [21]:
# To change the data type so that functions will work

orders['item_price'] = orders.quantity.astype(float)

In [22]:
orders.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     1.075725
std     528.890796     0.410186     0.410186
min       1.000000     1.000000     1.000000
25%     477.250000     1.000000     1.000000
50%     926.000000     1.000000     1.000000
75%    1393.000000     1.000000     1.000000
max    1834.000000    15.000000    15.000000

In [23]:
orders.describe(include=['object'])

           item_name      choices
count           4622         3376
unique            50         1043
top     Chicken Bowl  [Diet Coke]
freq             726          134

In [8]:
# To change some column names
orders.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
 orders.rename(columns= {'choice_description':'choices'}, inplace= True)

In [10]:
orders.head(10)

,order_id,quantity,item_name,choices,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [16]:
# Sort dataframe by item_price 
orders.sort_values(by= 'item_price',ascending = False, inplace = True)

In [24]:
type('item_price')

str

In [17]:
# Check on missing values 
orders.isnull().sum()

order_id         0
quantity         0
item_name        0
choices       1246
item_price       0
dtype: int64

In [30]:
d = {0: 'e', 1: 'e', 2: 'u'}
for x in d.values():
    print(d[x])

KeyError: 'e'

In [31]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("I Love Educative")

0
1
2
3
4

In [32]:
x=3*1**3
print(x)

3

In [33]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [34]:
print("edu CATIVE".capitalize())

Edu cative

In [35]:
class Check:
    def __init__(self, count = 0):
       self.__count = count
 
c1 = Check(2)
c2 = Check(2)
print(id(c1) == id(c2), end = " ")
 
s1 = "Educative"
s2 = "Educative"
print(id(s1) == id(s2))

False True

In [36]:
print("educative".center())

TypeError: center expected at least 1 argument, got 0

In [37]:
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="333"
 
temp = tester(33)
print(temp.id)

33

In [38]:
a = [0, 1, 2, 3]
for a[-1] in a:
    print(a[-1])

0
1
2
2